* {
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 100vw;
  background: gray;
}

.wrapper {
  display: flex;
  .all-items {
    height: 100vh;
    width: calc(100vw - 150px);
    background: #dddddd;
  }
  .items-list {
    height: 100vh;
    width: 150px;
    background: #acacac;
  }
}