* {
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 100vw;
  background: gray;
  display: flex;
  .user_nav-grid-6 {
    display: flex;
    // align-items: center;
    .btn {
      text-decoration: none;
      display: block;
      width: 120px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background: rgb(85, 240, 155);
      margin-right: 10px;
      // margin-top: 20px;
      border-radius: 5px;
      font-size: 16px;
      color: lavender;
      opacity: 0.7;
      cursor: pointer;
    }
    .btn:hover{
      opacity: 1;
      transition: 0.4s;
    }
  }
  .grid-6 {
    .btn {
      text-decoration: none;
    }
  }
  .items-list {
    width: 60%;
    .items-tag {
      color: white;
      font-weight: bold;
      margin-left: 50px;
      letter-spacing: 2px;
    }
    .item-tag{
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
    }
  }
}

.wrapper {
  display: flex;
  .all-items {
    background: #dddddd;
    overflow: scroll;
    height: 100vh;
    width: calc(100vw - 150px);
    padding: 30px;
    &--contents {
      border: 1px solid red;
      width: 400px;
      height: 400px;
      .post-title-date {
        position: relative;
        width: 100%;
        padding: 5px;
        height: 50px;
        border: 2px solid gray;
        .post-title {
          text-align: center;
        }
        .post-date {
          position: absolute;
          bottom: 1px;
          right: 1px;
          font-size: 5px;
        }
      }
      .post-contents {
        .post-image {
          padding: 5px;
          text-align: center;
        }
        .post-text {
          padding: 10px;
          font-size: 10px;
          width: 100px;
          height: 50px;
          background: gray;
        }
      }
    }
  }
}