@mixin trigger {
  text-decoration:                  none;
  color:                            black;
 

}

@mixin list-name {
  text-decoration:                  none;
  background:                       #ffffff;
  color:                            black;
  opacity: 0.4;

}

@mixin decoration {
  background:                       #ffffff;
  text-align:                        center;

}

$breakpoints: (
  // 'sm': 340,
  'sm': 320,
  'md': 767,
  'lg': 1023,
  'xl': 1200,
) !default;

@mixin mq($mq, $bp1: md, $bp2: lg) {
 
  $w1    : map-get($breakpoints, $bp1);
  $w2    : map-get($breakpoints, $bp2);
  $min1  : 'min-width: #{convert-em($w1, 1)}';
  $min2  : 'min-width: #{convert-em($w1, 1)}';
  $max1  : 'max-width: #{convert-em($w1)}';
  $max2  : 'max-width: #{convert-em($w2)}';
 
  @if $mq == min {
    @media screen and ($min1) {
      @content;
    }
  }
  @else if $mq == max {
    @media screen and ($max1) {
      @content;
    }
  }
  @else if $mq == min-max {
    @media screen and ($min2) and ($max2) {
      @content;
    }
  }
}
 
@function convert-em($width, $ge: 0) {
  @return '#{($width + $ge) / 16}em';
}

header {
  height: 100%;
  width: 100%;
 
  @include mq('max', 'lg') {
    .header__tabs-menu {
      z-index:                          1;
      display:                          flex;
      justify-content:                  space-between;
      position:                         relative;
  
      &__pic-list {
        @include                        decoration();
        right:                          0;
        top:                            0;
        position:                       absolute;
        padding:                           0.625em;
        margin:                            1em;
        border-radius:                     0.25em;
        width: 7em;
        &__gbluv_box {
    
          .menu-trigger {
            @include                    trigger();
            font-size:                        1em;
            
          }
  
        }
        &__gbluv_block {
          display:                      none;
      
          .gblnv_block__pic-menu{
      
            .tabs__hiden__menu--list {
              margin:                   0 0 0.375em 0;
  
              .tag-name {
                @include                list-name();
                font-size: 0.75em;
              }
              .tag-name:hover {
                opacity: 1;
                transition: 0.2s;
              }
            }
          }
        }
    
      }
    
      &__top-list {
        @include                        decoration();
        left:                           0;
        top:                            0;
        position:                       absolute;
        padding:                           0.625em;
        margin:                            1em;
        border-radius:                     0.25em;
        width: 5.625em;
        &__gbluv_box {
    
          .top-trigger {
            @include                    trigger();
            font-size:                        1em;
          }
    
        }
        &__gbluv-block {
          display:                      none;
    
          .gbluv-block__top-menu {
    
            .page-lsit {
              margin:                   0 0 0.375em 0;
  
              .page-btn {
                @include                list-name();
                font-size: 0.75em;
              }
              .page-btn {
                opacity: 1;
                transition: 0.2s;
              }
    
            }
    
          }
    
        }
    
      }
    }
  }
  
  @include mq('min', 'lg') {
    .header__tabs-menu {
      z-index:                          1;
      display:                          flex;
      justify-content:                  space-between;
      position:                         relative;
  
      &__pic-list {
        @include                        decoration();
        right:                          0;
        top:                            0;
        position:                       absolute;
        padding:                           0.625em;
        margin:                            1.25em;
        border-radius:                     0.25em;
        width: 15em;
        &__gbluv_box {
    
          .menu-trigger {
            @include                    trigger();
            font-size:                        2.5em;
          }
  
        }
        &__gbluv_block {
          display:                      none;
      
          .gblnv_block__pic-menu{
            margin:                   20px 0 0 0;
      
            .tabs__hiden__menu--list {
              margin:                   0 0 20px 0;
  
              .tag-name {
                @include                list-name();
                font-size:                        1.5em;
             
              }
              .tag-name:hover {
                opacity: 1;
                transition: 0.2s;
              }
            }
          }
        }
    
      }
    
      &__top-list {
        @include                        decoration();
        left:                           0;
        top:                            0;
        position:                       absolute;
        padding:                           0.625em;
        margin:                            1.25em;
        border-radius:                     0.25em;
        width: 11em;
        &__gbluv_box {
    
          .top-trigger {
            @include                    trigger();
            font-size:                        2.5em;
          }
    
        }
        &__gbluv-block {
          display:                      none;
    
          .gbluv-block__top-menu {
            margin: 20px 0 0 0;
            
            .page-lsit {
              margin:                   0 0 20px 0;
  
              .page-btn {
                @include                list-name();
                font-size:                        1.5em;
                
              }
              .page-btn:hover {
                opacity: 1;
                transition: 0.2s;
              }
    
            }
    
          }
    
        }
    
      }
    }
  }


  .slider {
    // height: 500px;
    width:                            100%;
    height: 100%;
    .header-image {
      // height:                         100%;
      // width:                          100%;

      width: 100%;
      height: 100vw;
      object-fit: cover;
      // background-size: cover;

      // max-width: 100%;
      // max-height: 100%;
      // height: 100vh;
      // width: auto\9; /* ie8 */
      // margin: 0 auto;
    }
  }
}








