.tag-name {
  // margin-right: 50px;
  margin-left: 50px;
  margin-top: 5px;
  display: block;
  text-decoration: none;
  color: #e6e6fa;
  width: 80px;
  font-size: 0.7em;
  height: 28px;
  line-height: 28px;
  background: lightsalmon;
  border-radius: 4px;
  text-align: center;
  opacity: 0.7;
}
.tag-name:hover{
  opacity: 1;
  transition: 0.3s;
}