%ul.slider
  %li
    = image_tag "bence-balla-schottner-Rm7Qbb1FyQM-unsplash.jpg", class: "header-image"
  %li
    = image_tag "dom-hill-nimElTcTNyY-unsplash.jpg", class: "header-image"
  %li
    = image_tag "md-salman-tWOz2_EK5EQ-unsplash.jpg", class: "header-image"
