%header

.wrapper
  .all-items
    .all-items--contents
      - @items.each do |item|
        .post-title-date
          .post-title
            = item.title
          .post-date
            = item.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .post-contents
          - if item.text.present?
            %p.item__text
              = item.text
          = image_tag item.image, size: "300x300", class: 'post-contents__image' if item.image.present?
  .items-list